<template>
  <section>
    <div v-if="loading">Loading...</div>
    <div v-else class="currency-table">
      <table border="1" cellpadding="20" cellspacing="0">
        <tr v-for="getCurrency in info" :key="getCurrency">
          <td>{{getCurrency.code}}</td>
          <td>
          <table style="text-align: left">

            <tr>
              <td>Currency Symble: {{getCurrency.symbol}}</td>
            </tr>
            <tr>
              <td>Currency Details: {{getCurrency.description}}</td>
            </tr>
            <tr>
              <td>Currency Rate: {{getCurrency.rate}}</td>
            </tr>

            <tr>
              <td>Flat Rate: {{getCurrency.rate_float}}</td>
            </tr>

          </table>
          </td>
        </tr>
      </table>
    </div>

  </section>
</template>

<script>
import axios from 'axios'
export default {
  name: 'App',

  data () {
    return {
      info: null,
      loading: true,
      errored: false
    }
  },
  filters: {

  },
  mounted () {
    axios
        .get('https://api.coindesk.com/v1/bpi/currentprice.json')
        .then(response => {
          this.info = response.data.bpi
        })
        .catch(error => {
          console.log(error)
          this.errored = true
        })
        .finally( () => this.loading = false )
  }


}
</script>

<style>

.currency-table{
  max-width: 800px;
  width:100%;
  margin:0 auto;
  background: #eee;
  text-align: center;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
table{
  width:100%
}
</style>
